html,body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,p,blockquote,th,td,select,iframe{margin:0;padding:0}
ul,li{list-style-type:none}fieldset,img{border:0}h1,h2,h3,h4{font-size:100%;font-weight:normal}q:before,q:after{content:''}a{outline:none}
button{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;outline:0}button:hover{cursor:pointer}body{font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#fefefe}
iframe{display:block;background:#000;border:none;height:100vh;width:100%;}
#mainbtn{position:absolute;z-index:100;top:10px;right:0;width:40px;height:38px;background:rgba(0,0,0,0.5) url('http://imgs2.dab3games.com/img/menu51.png') 10px 10px no-repeat;background-size:18px 18px;border:0;outline:0}
#videobtn{display:none;position:absolute;z-index:100;top:53px;right:0;width:40px;height:38px;background:rgba(0,0,0,0.5) url('../images/video1.png') 10px 10px no-repeat;background-size:18px 18px;border:0;outline:0;transition:all 200ms}
#videobtn.withaward{top:96px}
#videomenu{display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:99;background-color:#000;color:#fff;width:100%;height:100vh}
#videomenu.thisishidden{display:none}
#Veediframe{position:absolute;top:0;left:0}
#mainbtn.sliderlef,#awardbtn.sliderlef{transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-webkit-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-ms-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;right:285px;background-color:rgba(0,0,0,1) }
#awardbtn{position:absolute;z-index:100;top:53px;right:0;width:40px;height:38px;background:rgba(0,0,0,0.5) url('http://imgs2.dab3games.com/img/awards-white.png') 10px 10px no-repeat;background-size:18px 18px;border:0;outline:0}
#awardbtn.nologin:before{font-family:Georgia;content:'!';left:-3px;top:-3px;position:absolute;background-color:#BE1E2D;color:#fff;width:18px;height:18px;border-radius:9px;line-height:18px;font-size:14px;text-align:center;}
#awards_menu{overflow-y:auto;visibility: hidden;opacity:0;position:fixed;z-index:101;top:10px;right:-290px;height:75vh;max-height:385px;width:270px;padding:8px;background-color:#2a6490;color:#fff;transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-webkit-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-ms-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;}
#menu{overflow-y:auto;visibility: hidden;opacity:0;position:fixed;z-index:100;top:10px;right:-290px;height:75vh;max-height:390px;width:270px;padding:8px;background-color:#2a6490;color:#fff;transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-webkit-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;-ms-transition: visibility 0s, opacity 0.2s linear, right 0.2s linear;}
#menu h2,#awards_menu h2{float:left;width:100%;margin:0}
#menu h3{float:left;width:100%;margin:5px 0 0 0;text-align:center}
#awards_menu h3{float:left;width:100%;margin:0 0 5px 0;}
#awards_menu h3 a{float:left;text-align:center;border-radius:3px;margin:4px 1%;width:98%;clear:both;font-size:15px;background-color:#333;}
#menu a,#awards_menu a{display:block;float:left;clear:both;width:100%;padding:4px 0;text-decoration:none;font-size:17px;color:#fff}
#menu h2 a,#awards_menu h2 a{font-size:22px}
#menu.showithideit,#awards_menu.showithideit{visibility: visible;opacity:1;right:0}
#gamePlayer{width:100%;height:100%;overflow:hidden;margin:0px;padding:0px;position:absolute;top:0;left:0;right:0;bottom:0;}
.thumbWrapper{float:left;overflow:hidden;position:relative;width:33%;padding-bottom:33%;margin:.125%;border-radius:3px}
.thumbWrapper div{position:absolute;top:0;left:0;right:0;bottom:0;border:3px solid transparent;overflow:hidden;transition:border-color 200ms linear;}
.thumbWrapper img{width:100%;height:100%}
.thumbWrapper a{position:absolute;top:0;left:0;bottom:0;right:0;z-index:200;text-indent:-99999px}
#menu h2 a.logo,#awards_menu a.logo{width:100%;height:52px;text-indent:-9999px;padding:5px 0 0 0}
#menu h2 a.logo:before,#awards_menu a.logo:before{width:200px;height:52px;position:absolute;top:12px;left:42px;content:'';background:transparent url('../images/backgrounds.png') 0 0 no-repeat;background-size:300px 150px}
.cat_menu_link{float:left;text-align:center;border-radius:3px;margin:4px 1%;width:98%;clear:both;text-align:center;font-size:15px;background-color:#333}
.cat_menu_link a{display:block;width:96%;padding:10px 2%;}
.cat_menu_link.hsboarddss{padding:2px 0}
#hs_board_wrap{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.3);z-index:1000}
.hs_main_wrap{position:absolute;top:5%;bottom:5%;left:25%;right:25%;background-color:#fff;border-radius:10px;z-index:2000}
.hs_main_wrap.insideofmenu{position:static;background-color:#2a6591}
.hs_main_top{float:left;clear:both;width:100%;height:80px;position:relative;background-color:#2a6591;border-top-left-radius:10px;border-top-right-radius:10px}
.hs_main_top a{float:left;width:80px;height:80px;display:block;border-top-left-radius:10px;}
.hs_main_top a img{width:80px;height:80px;border-top-left-radius:10px;}
.hs_main_top .hs_game_title{color:#fff;position:absolute;left:90px}
.hs_main_top .hs_game_title h1{font-size:2.6em;height:38px;margin:8px 0 4px 0;overflow:hidden}
.hs_main_top .hs_game_title h3{font-size:1.2em}
.hs_main_top button{position:absolute;right:8px;top:8px;display:block;background:transparent url('http://imgs2.dab3games.com/img/delete.png') no-repeat;text-indent:-9999px;border:0;outline:0;width:18px;height:18px;background-size:18px 18px}
.hs_main_center{position:absolute;top:85px;bottom:51px;width:100%;overflow-y:auto}
.hs_main_userscore{float:left;width:98%;height:25px;margin:5px 1%;font-size:1.1em;border-bottom:1px solid #eee;}
.hs_main_userscore .userscore_name{float:left;width:40%;height:17px;overflow:hidden;text-overflow: ellipsis;position:relative}
.hs_main_userscore .userscore_name a span{font-weight:bold;}
.hs_main_userscore .userscore_name a{float:left;color:#111;text-decoration:none;white-space: nowrap;text-overflow: ellipsis;color: #111;text-decoration: none;width: 100%;overflow: hidden;height:17px}
.hs_main_userscore .userscore_score{float:left;width:20%;height:18px;text-align:center;overflow:hidden}
.hs_main_userscore .userscore_time{float:left;width:40%;height:18px;text-align:right;color:#999;overflow:hidden}
.hs_main_userscore.firstscore,.insideofmenu .hs_main_userscore.firstscore{height:105px;text-align:center;font-size:1.2em;background: transparent url('http://imgs2.dab3games.com/img/trophy.png') 50% 0 no-repeat;background-size:40px 40px}
.hs_main_userscore.firstscore .userscore_name,.insideofmenu .hs_main_userscore.firstscore .userscore_name{width:100%;margin-top:40px;height:32px}
.hs_main_userscore.firstscore .userscore_name span{display:none}
.hs_main_userscore.firstscore .userscore_name a{display:block;width:100%;font-size:1.6em;padding:4px 0 2px 0;height:32px}
.hs_main_userscore.firstscore .userscore_name a img{border:0;width:27px;height:27px;vertical-align:text-top;border-radius:3px}
.hs_main_userscore.firstscore .userscore_score{width:100%;font-size:1.5em;font-weight:bold;height:22px}
.insideofmenu .hs_main_userscore.firstscore .userscore_score{line-height:18px}
.hs_main_userscore.firstscore .userscore_time{display:none}
.hs_main_footer{position:absolute;bottom:0;height:50px;width: 96%;border-top: 2px solid #eee;margin: 0 2%;}
.hs_main_wrap.guest .hs_main_center{bottom:0;top:270px}
.hs_main_wrap.guest .hs_main_footer{top:80px;height:180px;width:100%;margin:0;background-color:#eee;border-bottom-left-radius:0;border-bottom-right-radius:0}
.hs_main_wrap.guest a.boardlink.active,.hs_main_wrap.guest #frnd_leaderboard{background-color:#eee}
.insideofmenu .hs_main_userscore.lastchild{border:0}
.insideofmenu .hs_main_userscore .userscore_name{width:80%}
.insideofmenu .hs_main_userscore.firstscore .userscore_name{width:100%}
.insideofmenu .hs_main_userscore{height:30px;margin:2px 1%}
.insideofmenu .hs_main_userscore .userscore_name{height:25px;line-height:20px}
.insideofmenu .hs_main_userscore .userscore_score{height:25px;line-height:28px;color:#fff}
a.boardlink{padding:0 9px;height:30px;text-align:center;background-color:#2a5473;line-height:30px;overflow:hidden;border-top-right-radius:10px}
a.boardlink:hover,a.signup:hover{cursor:pointer;color:#aaa}
a.boardlink.active{background-color:#fff;color:#000}
#frnd_leaderboard{border-bottom-left-radius:10px;border-bottom-right-radius:10px;background-color:#fff;z-index:100000;display:none;position:absolute;top:85px;bottom:0;width:100%;overflow-y:auto}
.invitefriends{float:left;clear:both;margin:15px 10%;height:34px;text-align:center;width:80%}
.invitefriends a{display:block;padding:8px 0;margin:0 3px;color:#fff;font-size:1.3em;font-weight:700;border-radius:5px;text-align:center;background-color:#be1e2d;border:0;outline:0;text-decoration:none;letter-spacing:1px}
#loginit{float:left;margin:10px 5% 20px 5%;width:90%}
.form-group{margin-bottom:15px}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;color:#333;background-color:#fff;border-color:#ccc}
.btn-full{width:100%;background-color:#2a6490;color:#fff}
.btn-full:hover{background-color:#2a5473}
.btn-bigtxt{font-size:18px;border:0;padding:10px 0;text-transform:uppercase}
.form-group label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}
.form-control{display:block;width:96%;height:34px;padding:6px 2%;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
#msgblock{border-radius:5px;display:none;float:left;width:86%;margin:5px 5%;padding:3px 2%;font-size:16px;color:#fff;background-color:#be1e2d}
#msgblock a{color:#f1f1f1;text-decoration:underline}
.login_please{width:100%;margin-top:15px}
.login_please .guest_score{float:left;clear:both;width:100%;text-align:center;font-size:2.5em;font-weight:bold}
.login_please .login_txt{float:left;clear:both;width:100%;text-align:center;font-size:1.3em;padding-top:5px}
.login_please .login_awrap{float:left;clear:both;width:100%;height:40px;text-align:center;margin-top:27px}
.login_please a{margin-right:10px;padding: 13px 18px;margin:0 3px;color: #fff;font-size: 1.4em;font-weight: bold;border-radius: 5px;text-align: center;background-color:rgb(190, 30, 45);border: 0;outline: 0;text-decoration:none;letter-spacing:1px}
.login_please a.signin{background-color:#999}
.user_top_score .guest_social_share{position:absolute;top:10px;right:10px;width:63px}
.login_please .guest_social_share{clear:both;margin:0 auto;width:63px}
.guest_social_share a{float:left;padding:0;margin:0;clear:none;text-indent:-9999px;width:30px;height:30px;background:transparent url('http://imgs2.dab3games.com/img/hs_facebook.png') no-repeat;background-size:30px 30px}
.guest_social_share a.twitter{margin-left:3px;background:url('http://imgs2.dab3games.com/img/hs_twitter.png') no-repeat;background-size:30px 30px}
.login_please .your_score_txt{position:absolute;font-size:1.7em;position:absolute;bottom:15px;left:3%}
.login_please button{font-size:1em;margin-left:20px;position:absolute;bottom:15px;right:3%;padding: 5px 8px;margin:0 5px;color: #fff;font-size: 1.2em;font-weight: bold;border-radius: 5px;text-align: center;background-color: #C22330;border: 0;outline: 0;text-decoration:none;letter-spacing:1px}
.hs_main_footer .user_top_score{position:absolute;top:0;left:0;right:60px}
.hs_main_footer .hs_main_userscore{border:0}
.hs_main_footer .hs_main_userscore .userscore_score{text-align:left}
.hs_main_footer .yourtop{padding-top:5px}
.hs_main_footer a.logo{width:50px;height:50px;position:absolute;right:0;display:block}
.hs_main_footer a.logo:before{width:46px;height:46px;content:'';top:4px;background: transparent url('http://imgs2.dab3games.com/img/lagged-rocket.png?v=1') 0 0 no-repeat;background-size:46px 46px;position:absolute}
.achievement{font-size:14px;z-index:3000;opacity:1;position:absolute;left:0;top:20px;right:35%;height:60px;background-color:rgba(0,0,0,0.7);border-top-right-radius:5px;border-bottom-right-radius:5px}
.achievement a{display:block;width:100%;height:60px}
.achievement img{float:left;width:44px;height:44px;border-radius:10px;margin:7px 12px 0 7px;border:1px solid #fff;background-color:#ccc}
.achievement div{float:left;height:60px;overflow:hidden}
.achievement div h3{margin:12px 0 3px 0;color:#fff;font-size:16px}
.achievement div p{margin:0;padding:0;color:#f1f1f1}
.achievement div.bittoearn{height:13px;background-color:#BD1C2B;color:#fff;position:absolute;top:38px;text-align:center;left:7px;width:40px;padding:1px 3px;font-size:11px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.achievement div.bittoearn span{font-size:10px}
.overflowscroll{height:145px;width:100%;overflow-y:auto;margin:5px 0}
h3.awards{margin-bottom:8px}
.awards_bit{float:left;width:100%;height:50px;padding-bottom:8px;position:relative}
.awards_bit img{float:left;width:40px;height:40px;border:1px solid #000;padding:3px}
.awards_bit.notearned img{filter: grayscale(100%);-webkit-filter: grayscale(100%)}
.awards_bit div{position:absolute;left:55px;top:3px}
.awards_bit div span{float:left;display:block;clear:both}
.awards_bit div span.title{font-size:15px;font-weight:bold;}
.awards_bit div span.desc{font-size:11px;padding-top:2px}
.awards_bit .pointstoearn{height:12px;background-color:#BD1C2B;color:#fff;position:absolute;top:33px;text-align:center;left:1px;width:40px;padding:1px 3px;font-size:11px}
.awards_bit.notearned .pointstoearn{background-color:#aaa}
.awards_bit .pointstoearn span{font-size:10px;display:inline;float:none}
#awards_menu p.loginmsg{background-color:#BE1E2D;padding:5px 2%;width:96%;border-radius:3px;font-size:12px;line-height:16px;float:left;margin:5px 0}
#awards_menu p.loginmsg a{display:inline !important;float:none !important;font-size:13px;display:inline;color:#fff;width: auto;padding:0 0 1px 0;border-bottom:1px solid #fff;line-height: 16px;}	
.hourglass{position:absolute;top:50%;left:50%;z-index:5000;width:200px;height:80px;font-size:1.5em;line-height:80px;text-align:center;background-color:#fff;color:#333;border-radius:15px;margin:-40px 0 0 -100px;-webkit-box-shadow:3px 3px 10px -1px rgba(0,0,0,.75);-moz-box-shadow:3px 3px 10px -1px rgba(0,0,0,.75);box-shadow:3px 3px 10px -1px rgba(0,0,0,.75)}
.achievement.fadeout{animation: fade 1s linear;animation-delay: 4s;-webkit-animation: fade 1s linear;-webkit-animation-delay: 4s}
#adContainer,#contentElement,#mainContainer,video{width:100%;height:100vh}
#playButton,#preloader{bottom:0;top:0;left:0;right:0;background-color:#e1ebf1}
#playButton button,#playButton img,#preloader:after{position:absolute;top:60%}
#preloader{position:absolute;z-index:10000}
#preloader:after{content:'loading...';left:50%;color:#333;margin-left:-36px;font-size:18px}
#adContainer{position:absolute;top:0;left:0}video{position:absolute}
#adContainer iframe{background-color:transparent!important}
#contentElement{position:absolute;overflow:hidden}
#playButton{position:absolute}
#playButton img{width:200px;height:200px;border-radius:10px;left:50%;border:1px solid #2a6490;margin:-220px 0 0 -100px}
#playButton button{float:left;display:block;width:80%;padding:13px 0;color:#fff;font-size:1.5em;font-weight:700;border-radius:5px;text-align:center;background-color:#2a6490;border:0;outline:0;margin-left:10%}
#successmsglogin{position:absolute;top:5%;bottom:5%;left:25%;right:25%;background-color:#fff;border-radius:10px;z-index:3000}
#successmsglogin h1{width:100%;height:65px;float:left;text-align:center;font-size:2em;background-color:#eee;line-height:65px;border-top-left-radius:5px;border-top-right-radius:5px}
#successmsglogin h3,#successmsglogin h4{text-align:center;padding:5px 0;width:100%;font-size:16px;line-height:16px;float:left;margin:15px 0}
#successmsglogin h4{margin:30px 0 5px 0;font-weight:bold}
#successmsglogin a{color:#2a6490}
#successmsglogin .btn{width:80%;margin:0 10%;font-size:15px}
#successmsglogin .thumbWrapper span.thumbname{position:absolute;transition: bottom 600ms ease;font-size:15px;font-weight:bold;letter-spacing:1px;width:100%;bottom:-125%;left:0;height:auto;min-height:18px;line-height:20px;padding:7px 0 4px 0;text-align:center;text-transform:uppercase;background-color:rgba(42,100,144,.8);color:#fff}
#successmsglogin .thumbWrapper span.thumbname span{margin:0 2%;width:96%;text-align:center;float:left;overflow:hidden;text-overflow:ellipsis;}
#successmsglogin .thumbWrapper:hover{cursor:pointer}
#successmsglogin .thumbWrapper:hover div{border-color:#2a6490}
#successmsglogin .thumbWrapper:hover span.thumbname,#successmsglogin .thumbWrapper.nohoverstate span.thumbname{display:block;text-decoration:none;bottom:0}
.donotshow{display:none}
@keyframes fade {
0%{ opacity: 1}
100%{ opacity: 0 }
}
@media (max-width:800px) {
	.hs_main_wrap{left:2%;right:2%}
	#successmsglogin{right:2%;left:2%}
	#successmsglogin .thumbWrapper span.thumbname{white-space:nowrap;font-size:10px;height:14px;line-height:14px;min-height:14px;padding:4px 0 2px 0;bottom:0}
}